body {
  font-family: Arial, sans-serif;
  margin: 20px;
  text-align: center;
}

h1 {
  color: #333;
}

form {
  margin: 20px 0;
}

input[type="file"] {
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  font-size: 16px;
}

#excelData {
  margin-top: 20px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #f7f7f7;
  overflow-x: auto;
}

.hidden {
    display: none;
  }  

/* Additional styles for the table */
.excel-table {
  border-collapse: collapse;
  width: 100%;
}

.excel-table th,
.excel-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}
